<body>
    <div class="container-fluid title">
        <div class="row">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 tl-table">
                <h2>{{tableTitle}}</h2>
                <ul>
                    <li class="item no-border-bottom">
                        <form [formGroup]="form">
                            <div class="todo col-sm-10">
                                <input name="add-todo" type="text" placeholder="Titulo da tarefa" maxlength="100"
                                formControlName="title">
                                <small *ngIf="form.controls.title.invalid && form.controls.title.pristine " class="invalid">Campo Inválido. Esse campo deve conter entre 3 e 100 caracteres</small>
                            </div>
                            <div class="todo col-sm-2 btn-div">
                                <button [disabled]="form.controls.title.invalid" class="btn submit" type="submit" (click)=add() ng-keydown="$event.keyCode === 13  && add() "><i class="fa fa-plus"
                                        aria-hidden="true"></i></button>
                                    </div>
                                </form> 
                            </li> 
                        </ul> 
                        <ul>
                    <li class="item" *ngFor="let todo of todos ">
                        <div class="todo col-sm-8">
                            <p class="done" *ngIf="todo.done">{{ todo.task }}</p>
                            <p *ngIf="!todo.done">{{ todo.task }}</p>
                        </div>
                        <div class="btn-div col-sm-4">
                            <button (click)=markAsDone(todo) *ngIf="!todo.done" class="btn finish-btn"><i
                                    class="fa fa-check" aria-hidden="true"></i></button>
                            <button (click)=markAsUndone(todo) *ngIf="todo.done" class="btn refrash-btn"> <i
                                    class="fas fa-sync-alt"></i> </button>
                            <button (click)=remove(todo) class="btn remove-btn"><i class="fa fa-times"
                                    aria-hidden="true"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>